site_name: OpenPAQ
repo_url: https://github.com/DENICeG/OpenPAQ
copyright: Powered by <a href="https://www.denic.de"> DENIC</a>

nav:
  - Overview: index.md
  - Getting Started: getting_started.md
  - Configuration: configuration.md
  - Usage: usage.md
  - OpenAPI: open_api.md
  - Development: development.md
  - Contribution: contributions.md
  - License & EOL: license.md
  - Imprint: https://www.denic.de/ueber-denic/impressum

plugins:
  - privacy
  - swagger-ui-tag
  - search:
      lang: en

theme:
  logo: img/openpaq-logo-klein.png
  name: material
  features:
    - content.code.copy
    - content.tabs.link
    - content.code.annotate
    - navigation.footer
  palette:
    scheme: slate
    primary: custom
  font:
    text: Roboto Condensed
  language: en



extra_css:
  - stylesheets/extra.css

markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - md_in_html
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - tables
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower

extra:
  social:
    - icon: fontawesome/solid/globe
      link: https://www.denic.de
      name: DENIC eG
