.md-grid {
    max-width: initial;

}
.md-search {
    padding-right: 5px;
}

:root  > * {
    --md-primary-fg-color: #C96567;
    --md-primary-fg-color--light: #97AABD;
    --md-primary-fg-color--dark: #644E5B;
    --md-default-bg-color: #314455;

}
.md-header__topic {
    visibility: hidden;
}